<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>07</BK1>
  <BK2>77</BK2>
  <Col3>37</Col3>
  <Reversed>False</Reversed>
  <Multicolour>False</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>0</charcode>
    <chardata>
      <data>255</data>
      <data>2</data>
      <data>4</data>
      <data>8</data>
      <data>16</data>
      <data>32</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>1</charcode>
    <chardata>
      <data>0</data>
      <data>28</data>
      <data>46</data>
      <data>71</data>
      <data>142</data>
      <data>92</data>
      <data>56</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>2</charcode>
    <chardata>
      <data>16</data>
      <data>40</data>
      <data>68</data>
      <data>98</data>
      <data>118</data>
      <data>62</data>
      <data>28</data>
      <data>8</data>
    </chardata>
  </character>
  <character>
    <charcode>3</charcode>
    <chardata>
      <data>0</data>
      <data>28</data>
      <data>58</data>
      <data>113</data>
      <data>226</data>
      <data>116</data>
      <data>56</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>4</charcode>
    <chardata>
      <data>16</data>
      <data>56</data>
      <data>124</data>
      <data>110</data>
      <data>70</data>
      <data>34</data>
      <data>20</data>
      <data>8</data>
    </chardata>
  </character>
  <character>
    <charcode>5</charcode>
    <chardata>
      <data>96</data>
      <data>240</data>
      <data>96</data>
      <data>62</data>
      <data>185</data>
      <data>89</data>
      <data>28</data>
      <data>30</data>
    </chardata>
  </character>
  <character>
    <charcode>6</charcode>
    <chardata>
      <data>189</data>
      <data>68</data>
      <data>132</data>
      <data>66</data>
      <data>33</data>
      <data>0</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>7</charcode>
    <chardata>
      <data>24</data>
      <data>60</data>
      <data>24</data>
      <data>126</data>
      <data>189</data>
      <data>189</data>
      <data>189</data>
      <data>60</data>
    </chardata>
  </character>
  <character>
    <charcode>8</charcode>
    <chardata>
      <data>189</data>
      <data>36</data>
      <data>36</data>
      <data>36</data>
      <data>102</data>
      <data>0</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>9</charcode>
    <chardata>
      <data>6</data>
      <data>15</data>
      <data>6</data>
      <data>124</data>
      <data>157</data>
      <data>154</data>
      <data>56</data>
      <data>120</data>
    </chardata>
  </character>
  <character>
    <charcode>10</charcode>
    <chardata>
      <data>189</data>
      <data>34</data>
      <data>33</data>
      <data>66</data>
      <data>132</data>
      <data>0</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>11</charcode>
    <chardata>
      <data>255</data>
      <data>102</data>
      <data>129</data>
      <data>66</data>
      <data>138</data>
      <data>150</data>
      <data>223</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>14</charcode>
    <chardata>
      <data>189</data>
      <data>36</data>
      <data>36</data>
      <data>36</data>
      <data>102</data>
      <data>0</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
</charset>
