<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>07</BK1>
  <BK2>77</BK2>
  <Col3>37</Col3>
  <Reversed>False</Reversed>
  <Multicolour>False</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>0</charcode>
    <chardata>
      <data>223</data>
      <data>223</data>
      <data>223</data>
      <data>0</data>
      <data>253</data>
      <data>253</data>
      <data>253</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>1</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>1</data>
      <data>3</data>
      <data>3</data>
      <data>7</data>
    </chardata>
  </character>
  <character>
    <charcode>2</charcode>
    <chardata>
      <data>0</data>
      <data>60</data>
      <data>126</data>
      <data>219</data>
      <data>129</data>
      <data>165</data>
      <data>165</data>
      <data>129</data>
    </chardata>
  </character>
  <character>
    <charcode>3</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>128</data>
      <data>192</data>
      <data>192</data>
      <data>224</data>
    </chardata>
  </character>
  <character>
    <charcode>4</charcode>
    <chardata>
      <data>31</data>
      <data>63</data>
      <data>127</data>
      <data>255</data>
      <data>252</data>
      <data>254</data>
      <data>127</data>
      <data>63</data>
    </chardata>
  </character>
  <character>
    <charcode>5</charcode>
    <chardata>
      <data>0</data>
      <data>126</data>
      <data>126</data>
      <data>0</data>
      <data>255</data>
      <data>0</data>
      <data>231</data>
      <data>231</data>
    </chardata>
  </character>
  <character>
    <charcode>6</charcode>
    <chardata>
      <data>248</data>
      <data>252</data>
      <data>254</data>
      <data>255</data>
      <data>63</data>
      <data>127</data>
      <data>254</data>
      <data>252</data>
    </chardata>
  </character>
  <character>
    <charcode>7</charcode>
    <chardata>
      <data>15</data>
      <data>7</data>
      <data>8</data>
      <data>30</data>
      <data>31</data>
      <data>31</data>
      <data>31</data>
      <data>31</data>
    </chardata>
  </character>
  <character>
    <charcode>8</charcode>
    <chardata>
      <data>231</data>
      <data>219</data>
      <data>60</data>
      <data>255</data>
      <data>126</data>
      <data>126</data>
      <data>189</data>
      <data>195</data>
    </chardata>
  </character>
  <character>
    <charcode>9</charcode>
    <chardata>
      <data>240</data>
      <data>224</data>
      <data>16</data>
      <data>120</data>
      <data>248</data>
      <data>248</data>
      <data>248</data>
      <data>248</data>
    </chardata>
  </character>
  <character>
    <charcode>10</charcode>
    <chardata>
      <data>31</data>
      <data>31</data>
      <data>31</data>
      <data>15</data>
      <data>15</data>
      <data>63</data>
      <data>127</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>11</charcode>
    <chardata>
      <data>231</data>
      <data>129</data>
      <data>0</data>
      <data>0</data>
      <data>129</data>
      <data>129</data>
      <data>129</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>12</charcode>
    <chardata>
      <data>248</data>
      <data>248</data>
      <data>248</data>
      <data>240</data>
      <data>240</data>
      <data>252</data>
      <data>254</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>13</charcode>
    <chardata>
      <data>12</data>
      <data>12</data>
      <data>24</data>
      <data>47</data>
      <data>8</data>
      <data>15</data>
      <data>82</data>
      <data>36</data>
    </chardata>
  </character>
  <character>
    <charcode>14</charcode>
    <chardata>
      <data>48</data>
      <data>48</data>
      <data>24</data>
      <data>244</data>
      <data>16</data>
      <data>240</data>
      <data>74</data>
      <data>36</data>
    </chardata>
  </character>
  <character>
    <charcode>15</charcode>
    <chardata>
      <data>28</data>
      <data>8</data>
      <data>28</data>
      <data>42</data>
      <data>8</data>
      <data>20</data>
      <data>20</data>
      <data>54</data>
    </chardata>
  </character>
  <character>
    <charcode>16</charcode>
    <chardata>
      <data>12</data>
      <data>76</data>
      <data>40</data>
      <data>47</data>
      <data>40</data>
      <data>159</data>
      <data>82</data>
      <data>36</data>
    </chardata>
  </character>
</charset>
